@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.tex{
  text-align: center;
}

nav{
  width: 70%;
  height: 75px;
  line-height: 75px;
  padding:0px 100px;
  position: fixed;
}

nav .logo p{ 
  font-size: 40px;
  font-weight: bold;
  float: left;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

nav ul{
  font-size: 30px;
  font-weight: bold;
  float: right;
}

nav li{
  display: inline-block;
  list-style: none;
}

nav li a{
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: rgb(0, 0, 0) ;
  text-decoration: none;
}

nav li a:hover{
  color: #ffb3b3;
  transition: all 0.4s ease 0s;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#fb6542 30%,#ffbb00);
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: #000000;
  min-height: 100vh;
}

.full-height-grow {
  max-width: none;
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: inherit;
  text-decoration: none;
}
.brand-logo-name {
  margin-left: rem;
}

.footer-nav ul {
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}
.footer-nav a:hover{
  color: #adadad;
}
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 170px;
}
.main-footer {
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}
.social-link img {
  width: 1em;
  margin-right: .25rem;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 650;
  font-size: 8em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: #262626;
  font-size: 1rem;
  font-weight: 100;
  background-color: #ffbb00;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7d57a;
}

.button1 {
  background-color: #262626;
  border: 2px #fb6542;
  color:#ffbb00;
  padding: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin:  4px 2px;;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button2 {
  background-color: #262626;
  border: 2px #fb6542;
  color: #ffbb00;
  padding: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin:  4px 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button3 {
  background-color: #262626;
  border: 2px #fb6542;
  color: #ffbb00;
  padding: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin:  px 2px;
  position: absolute;
  top: 50%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button4 {
  background-color: #262626;
  border: 2px #fb6542;
  color:#ffbb00;
  padding: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin:  4px 2px;;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button5 {
  background-color: #262626;
  border: 2px #fb6542;
  color: #ffbb00;
  padding: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin:  px 2px;
  position: absolute;
  top: 50%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button1,.button2,.button3,.button4,.button5{border-radius: 30px;}

.button {border-radius: 100px;}
